<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eu.fort.dao.ProPushinfoDao">
    <!-- ProPushinfo的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_ProPushinfo_Map" type="com.eu.fort.entity.ProPushinfo">
        <id column="push_id" property="pushId" />
        <result column="push_name" property="pushName" />
        <result column="push_oprice" property="pushOprice" />
        <result column="push_nprice" property="pushNprice" />
        <result column="push_desc" property="pushDesc" />
        <result column="push_img" property="pushImg" />
        <result column="push_state" property="pushState" />
    </resultMap>

    <!-- 数据库中表名为:pro_pushinfo的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="pro_pushinfo_Column">
        pro_pushinfo.push_id as push_id
        ,pro_pushinfo.push_name as push_name
        ,pro_pushinfo.push_oprice as push_oprice
        ,pro_pushinfo.push_nprice as push_nprice
        ,pro_pushinfo.push_desc as push_desc
        ,pro_pushinfo.push_img as push_img
        ,pro_pushinfo.push_state as push_state
    </sql>

    <!--获得类名为:ProPushinfo对应的数据库表的数据总行数 -->
    <select id="getProPushinfoRowCount" resultType="java.lang.Long">
        select count(push_id) from pro_pushinfo
    </select>
    <!-- 获得类名为:ProPushinfo对应数据库中表的数据集合 -->
    <select id="selectProPushinfo" resultMap="result_ProPushinfo_Map">
        select 
        <include refid="pro_pushinfo_Column" /> 
        from pro_pushinfo
    </select> 

    <!-- 获得一个ProPushinfo对象,以参数ProPushinfo对象中不为空的属性作为条件进行查询-->
    <select id="selectProPushinfoByObj" parameterType="com.eu.fort.entity.ProPushinfo" resultMap="result_ProPushinfo_Map">
        select 
            <include refid="pro_pushinfo_Column" /> 
        from pro_pushinfo
        <where>
            <if test="pushState != null "> and pro_pushinfo.push_state = #{pushState}</if>
            <if test="pushImg != null "> and pro_pushinfo.push_img = #{pushImg}</if>
            <if test="pushDesc != null "> and pro_pushinfo.push_desc = #{pushDesc}</if>
            <if test="pushNprice != null "> and pro_pushinfo.push_nprice = #{pushNprice}</if>
            <if test="pushOprice != null "> and pro_pushinfo.push_oprice = #{pushOprice}</if>
            <if test="pushName != null "> and pro_pushinfo.push_name = #{pushName}</if>
            <if test="pushId != null "> and pro_pushinfo.push_id = #{pushId}</if>
        </where>
    </select> 

    <!-- 通过ProPushinfo的id获得对应数据库中表的数据对象-->
    <select id="selectProPushinfoById" parameterType="java.lang.Integer" resultMap="result_ProPushinfo_Map">
        select 
            <include refid="pro_pushinfo_Column" /> 
        from pro_pushinfo
        where pro_pushinfo.push_id = #{id}
    </select> 

    <!-- 将ProPushinfo插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertProPushinfo" parameterType="com.eu.fort.entity.ProPushinfo">
        insert into pro_pushinfo(push_id,push_name,push_oprice,push_nprice,push_desc,push_img,push_state) 
        values(#{pushId},#{pushName},#{pushOprice},#{pushNprice},#{pushDesc},#{pushImg},#{pushState})
    </insert>

    <!-- 将ProPushinfo中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyProPushinfo" parameterType="com.eu.fort.entity.ProPushinfo">
        insert into pro_pushinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pushId != null">push_id,</if>
            <if test="pushName != null">push_name,</if>
            <if test="pushOprice != null">push_oprice,</if>
            <if test="pushNprice != null">push_nprice,</if>
            <if test="pushDesc != null">push_desc,</if>
            <if test="pushImg != null">push_img,</if>
            <if test="pushState != null">push_state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pushId != null"> #{pushId},</if>
            <if test="pushName != null"> #{pushName},</if>
            <if test="pushOprice != null"> #{pushOprice},</if>
            <if test="pushNprice != null"> #{pushNprice},</if>
            <if test="pushDesc != null"> #{pushDesc},</if>
            <if test="pushImg != null"> #{pushImg},</if>
            <if test="pushState != null"> #{pushState},</if>
        </trim>
    </insert>

    <!-- 通过ProPushinfo的id将数据库表中对应的数据删除-->
    <delete id="deleteProPushinfoById" parameterType="java.lang.Integer">
        delete from pro_pushinfo
        where push_id = #{id}
    </delete>

    <!-- 通过ProPushinfo的id将ProPushinfo的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateProPushinfoById" parameterType="com.eu.fort.entity.ProPushinfo">
        update pro_pushinfo set
            push_name=#{pushName}
            ,push_oprice=#{pushOprice}
            ,push_nprice=#{pushNprice}
            ,push_desc=#{pushDesc}
            ,push_img=#{pushImg}
            ,push_state=#{pushState}
        where push_id=#{pushId}
    </update>

    <!-- 通过ProPushinfo的id将ProPushinfo中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyProPushinfoById" parameterType="com.eu.fort.entity.ProPushinfo">
        update pro_pushinfo
        <set>
            <if test="pushName != null">
                push_name=#{pushName},
            </if>
            <if test="pushOprice != null">
                push_oprice=#{pushOprice},
            </if>
            <if test="pushNprice != null">
                push_nprice=#{pushNprice},
            </if>
            <if test="pushDesc != null">
                push_desc=#{pushDesc},
            </if>
            <if test="pushImg != null">
                push_img=#{pushImg},
            </if>
            <if test="pushState != null">
                push_state=#{pushState},
            </if>
        </set>
        where push_id=#{pushId}
    </update>

</mapper>